<footer class="footer" id="FooterBox">
    <div class="preformatted"> {{ node.footer }}</div>
       <div class="preformatted"> Based on <a href=" https://globaleaks.org/">GlobaLeaks</a>, copyright by Hermes Center for Transparency and Digital Human Rights</div>
       <div align="right "> <a href="" onclick=""> Contact </a>
                      &nbsp;<a href="" onclick=""> Data Protection Notice</a>
                      &nbsp;<a href="" onclick=""> Legal Notice</a>
                      &nbsp;<a href="" onclick=""> Imprint </a>
       
       </div>
</footer>
