<div class="modal-header">
 <button type="button" class="close" aria-hidden="true" data-ng-click="cancel()">
    <i class="glyphicon glyphicon glyphicon-remove-circle"></i>
  </button>
<div class="form-group" data-ng-show="!ReceiverSubmissionAuthentication.password_set">
    <div>
    <label><b><span data-translate>Please set an new password for this submission</span></b></label>
              <input class="form-control" data-ng-model="receiver_submission_key_new" type="password">
              <p class="has-error" data-ng-show="unsafe_password">
              <span data-translate>The chosen password is unsafe, it should have</span>:</p>
              <ul>
                <li class="has-error" data-ng-hide="pwdHasBigLetter">
                <span data-translate>At least one uppercase character (A-Z)</span></li>
		<li class="has-error" data-ng-hide="pwdHasSmallLetter">
                <span data-translate>At least one lowercase character (a-z)</span></li>                  
		<li class="has-error" data-ng-hide="pwdHasNumber">
                <span data-translate>At least one number (0-9)</span></li>
                <li class="has-error" data-ng-hide="pwdValidLength">
                <span data-translate>At least 10 characters</span></li>
               <li class="has-error" data-ng-hide="pwdHasSpecialCharacter">
                <span data-translate>At least one special character (e.g. #&%$)</span></li>  
              </ul>
            </div>

            <div class="form-group">
              <label><b><span data-translate>Type your new password again</span></b></label>
              <input class="form-control" data-ng-model="receiver_submission_key_check" type="password">
              <p class="has-error" data-ng-show="mismatch_password">
              <span data-translate>The two passwords do not match</span></p>
            </div>
    <button type="button" class="btn btn-success" data-ng-disabled="invalid" data-ng-click="ok(receiver_submission_key_new)"> Set the password and continue to tip</button>
 </div>
<div class="form-group" data-ng-show="ReceiverSubmissionAuthentication.password_set">
   <label><b><span data-translate>Please enter the password for this tip</span></b></label>
   <input class="form-control" name="password" data-ng-model="password" type="password">
   <button type="button" class="btn btn-success" data-ng-click="ok(password)">Go to tip</button>
 </div>
 </div>   