.pybuild/

debian/files
debian/*.debhelper
debian/*.log
debian/globaleaks.substvars
debian/globaleaks/

doc/_build

appliance/*/Vagrantfile
backend/.settings/org.eclipse.core.resources.prefs
backend/.pydevproject
backend/.project
