.pybuild/

debian/files
debian/*.debhelper
debian/*.log
debian/globaleaks.substvars
debian/globaleaks/

doc/_build

appliance/*/Vagrantfile
backend/.settings/org.eclipse.core.resources.prefs
backend/.pydevproject
backend/.project

/client/nbproject/private/
/client/app/nbproject/private/
*.js~
*.html~
*.sql~
*.gitignore~
client/.project
client/.project~
client/.settings/
glenv/
client/app/nbproject/
